{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container mt-5">
        <h1 class="text-center">Контакты</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Электронная почта</h2>
                        <p class="card-text">Email: <a>kuberunnak@ya.ru</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Телефон</h2>
                        <p class="card-text">Телефон: +7 (910) 091-13-17</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Адрес</h2>
                        <p class="card-text">GitHub: <a href="https://github.com/Kuberunnak10?tab=repositories">Github.com/Kuberunnak10</a></p>
                    </div>
                </div>
            </div>

        <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Telegram</h2>
                        <p class="card-text">Telegram: <a href="https://t.me/kuberunnak">t.me/kuberunnak</a></p>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}