{% extends 'base.html' %}

{% block title %}Edit page{% endblock %}

{% block content %}
    <div class="container mt-5">
    <form method="POST" class="post-form" action="/crud/update/{{wear.id}}">
    {% csrf_token %}
    <div class="container">
        <div class="col-12">
            <h3>Обновить товар</h3>
        </div>
        <div class="mb-3">
            <label>Бренд:</label>
            <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ wear.name }}" />
        </div>
        <div class="mb-3">
            <label>Размер:</label>
            <input type="number" class="form-control" name="size" id="id_size" required value="{{ wear.size }}" />
        </div>
        <div class="mb-3">
            <label>Цвет:</label>
            <input type="text" class="form-control" name="color" id="id_color" required maxlength="254" value="{{ wear.color }}" />
        </div>
        <div class="mb-3">
            <label>Цена:</label>
            <input type="number" class="form-control" name="price" id="id_price" required value="{{ wear.price }}" />
        </div>
        <div class="mb-4">
            <label for="id_category_id">Тип:</label>
            <select class="form-select" name="category_id" id="id_category_id" required>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == wear.category_id.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Обновить</button>
        </div>

    </div>
    </form>
    </div>
{% endblock %}